SK_OPENAI_APIKEY = << your azure open ai api key >>
SK_OPENAI_ENDPOINT = << your azure open endpoint url >>
SK_OPENAI_CHATCOMPLETION_DEPLOYMENT_DEFAULT = << your azure open chat completion model deploymentk >>
